<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>aa_1</string>
		<key>chs</key>
		<string>[(-Q)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_2</string>
		<key>chs</key>
		<string>[(-W)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_3</string>
		<key>chs</key>
		<string>[(-E)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_4</string>
		<key>chs</key>
		<string>[(-R)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_5</string>
		<key>chs</key>
		<string>[(-T)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_6</string>
		<key>chs</key>
		<string>[(-Y)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_7</string>
		<key>chs</key>
		<string>[(-U)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_8</string>
		<key>chs</key>
		<string>[(-I)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_9</string>
		<key>chs</key>
		<string>[(-O)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_10</string>
		<key>chs</key>
		<string>[(-P)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_11</string>
		<key>chs</key>
		<string>[(-A)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_12</string>
		<key>chs</key>
		<string>[(-S)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_13</string>
		<key>chs</key>
		<string>[(-D)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_14</string>
		<key>chs</key>
		<string>[(-F)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_15</string>
		<key>chs</key>
		<string>[(-G)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_16</string>
		<key>chs</key>
		<string>[(-H)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_17</string>
		<key>chs</key>
		<string>[(-J)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_18</string>
		<key>chs</key>
		<string>[(-K)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_19</string>
		<key>chs</key>
		<string>[(-L)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_20</string>
		<key>chs</key>
		<string>[(-Z)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_21</string>
		<key>chs</key>
		<string>[(-X)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_22</string>
		<key>chs</key>
		<string>[(-C)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>aa_23</string>
		<key>chs</key>
		<string>[(-V)]</string>
	</dict>
</array>
</plist>
